body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

section{
  margin: 1rem;
}

.img-border{
  border: 2px solid rgb(0, 0, 0);
}

.btn-custom {
  background-color: #ff69b4; 
  color: #ffffff; 
  border-color: #ff69b4; 
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #ff1493; 
  border-color: #ff1493; 
}
