.contacto {
    display: flex;
}

.formulario .form-label {
    font-weight: bold;
}

.acciones {
    text-align: right;
    margin-top: 10px;
}

.acciones .btn {
    background-color: #ee7284;
    border-color: #ee7284;
}

h2 {
    color: #ee7284;
    margin-bottom: 20px;
}

ul.list-group {
    margin-top: 20px;
}

ul.list-group li {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}
